/* NAVBAR */
@media screen and (max-width: 800px) {
  .header,
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1000px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
}
.header {
  display: flex;
  background-color: #f1f7fd;
  border-bottom: #af79ee 1px solid;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin: auto;
  width: 100vw;
}

.logo {
  height: 10%;
  width: 10%;
  margin: 15px 25px;
}

.logo-container {
  display: flex;
  align-items: center;
}
.navbar {
  display: flex;
  width: 25%;
  justify-content: space-around;
}

.navbar a {
  text-decoration: none;
  color: #172950;
  display: flex;
  align-items: center;
}
.connectNav {
  background-color: #af79ee;
  border-radius: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  padding: 10px 15px;
  width: 200px;
  border: #af79ee 2px solid;
}

button {
  width: 200px;
}
